:root {
  --coolGray-50: hsl(210, 20%, 98%);
  --coolGray-100: hsl(220, 14%, 96%);
  --coolGray-200: hsl(220, 13%, 91%);
  --coolGray-300: hsl(216, 12%, 84%);
  --coolGray-400: hsl(218, 11%, 65%);
  --coolGray-500: hsl(220, 9%, 46%);
  --coolGray-600: hsl(215, 14%, 34%);
  --coolGray-700: hsl(217, 19%, 27%);
  --coolGray-800: hsl(215, 28%, 17%);
  --coolGray-900: hsl(221, 39%, 11%);

  --gray-50: hsl(0, 0%, 98%);
  --gray-100: hsl(240, 5%, 96%);
  --gray-200: hsl(240, 6%, 90%);
  --gray-300: hsl(240, 5%, 84%);
  --gray-400: hsl(240, 5%, 65%);
  --gray-500: hsl(240, 4%, 46%);
  --gray-600: hsl(240, 5%, 34%);
  --gray-700: hsl(240, 5%, 26%);
  --gray-800: hsl(240, 4%, 16%);
  --gray-900: hsl(240, 6%, 10%);

  --red-50: hsl(0, 86%, 97%);
  --red-100: hsl(0, 93%, 94%);
  --red-200: hsl(0, 96%, 89%);
  --red-300: hsl(0, 94%, 82%);
  --red-400: hsl(0, 91%, 71%);
  --red-500: hsl(0, 84%, 60%);
  --red-600: hsl(0, 72%, 51%);
  --red-700: hsl(0, 74%, 42%);
  --red-800: hsl(0, 70%, 35%);
  --red-900: hsl(0, 63%, 31%);

  --orange-50: hsl(33, 100%, 96%);
  --orange-100: hsl(34, 100%, 92%);
  --orange-200: hsl(32, 98%, 83%);
  --orange-300: hsl(31, 97%, 72%);
  --orange-400: hsl(27, 96%, 61%);
  --orange-500: hsl(25, 95%, 53%);
  --orange-600: hsl(41, 96%, 40%);
  --orange-700: hsl(35, 92%, 33%);
  --orange-800: hsl(32, 81%, 29%);
  --orange-900: hsl(28, 73%, 26%);

  --amber-50: hsl(48, 100%, 96%);
  --amber-100: hsl(48, 96%, 89%);
  --amber-200: hsl(48, 97%, 77%);
  --amber-300: hsl(46, 97%, 65%);
  --amber-400: hsl(43, 96%, 56%);
  --amber-500: hsl(38, 92%, 50%);
  --amber-600: hsl(32, 95%, 44%);
  --amber-700: hsl(26, 90%, 37%);
  --amber-800: hsl(23, 83%, 31%);
  --amber-900: hsl(22, 78%, 26%);

  --yellow-50: hsl(55, 92%, 95%);
  --yellow-100: hsl(55, 97%, 88%);
  --yellow-200: hsl(53, 98%, 77%);
  --yellow-300: hsl(50, 98%, 64%);
  --yellow-400: hsl(48, 96%, 53%);
  --yellow-500: hsl(45, 93%, 47%);
  --yellow-600: hsl(41, 96%, 40%);
  --yellow-700: hsl(35, 92%, 33%);
  --yellow-800: hsl(32, 81%, 29%);
  --yellow-900: hsl(28, 73%, 26%);

  --lime-50: hsl(78, 92%, 95%);
  --lime-100: hsl(80, 89%, 89%);
  --lime-200: hsl(81, 88%, 80%);
  --lime-300: hsl(82, 85%, 67%);
  --lime-400: hsl(83, 78%, 55%);
  --lime-500: hsl(84, 81%, 44%);
  --lime-600: hsl(85, 85%, 35%);
  --lime-700: hsl(86, 78%, 27%);
  --lime-800: hsl(86, 69%, 23%);
  --lime-900: hsl(88, 61%, 20%);

  --green-50: hsl(138, 76%, 97%);
  --green-100: hsl(141, 84%, 93%);
  --green-200: hsl(141, 79%, 85%);
  --green-300: hsl(142, 77%, 73%);
  --green-400: hsl(142, 69%, 58%);
  --green-500: hsl(142, 71%, 45%);
  --green-600: hsl(142, 76%, 36%);
  --green-700: hsl(142, 72%, 29%);
  --green-800: hsl(143, 64%, 24%);
  --green-900: hsl(144, 61%, 20%);

  --emerald-50: hsl(152, 81%, 96%);
  --emerald-100: hsl(149, 80%, 90%);
  --emerald-200: hsl(152, 76%, 80%);
  --emerald-300: hsl(156, 72%, 67%);
  --emerald-400: hsl(158, 64%, 52%);
  --emerald-500: hsl(160, 84%, 39%);
  --emerald-600: hsl(161, 94%, 30%);
  --emerald-700: hsl(163, 94%, 24%);
  --emerald-800: hsl(163, 88%, 20%);
  --emerald-900: hsl(164, 86%, 16%);

  --teal-50: hsl(166, 76%, 97%);
  --teal-100: hsl(167, 85%, 89%);
  --teal-200: hsl(168, 84%, 78%);
  --teal-300: hsl(171, 77%, 64%);
  --teal-400: hsl(172, 66%, 50%);
  --teal-500: hsl(173, 80%, 40%);
  --teal-600: hsl(175, 84%, 32%);
  --teal-700: hsl(175, 77%, 26%);
  --teal-800: hsl(176, 69%, 22%);
  --teal-900: hsl(176, 61%, 19%);
  
  --cyan-50: hsl(183, 100%, 96%);
  --cyan-100: hsl(185, 96%, 90%);
  --cyan-200: hsl(186, 94%, 82%);
  --cyan-300: hsl(187, 92%, 69%);
  --cyan-400: hsl(188, 86%, 53%);
  --cyan-500: hsl(189, 94%, 43%);
  --cyan-600: hsl(192, 91%, 36%);
  --cyan-700: hsl(193, 82%, 31%);
  --cyan-800: hsl(194, 70%, 27%);
  --cyan-900: hsl(196, 64%, 24%);
  
  --sky-50: hsl(204, 100%, 97%);
  --sky-100: hsl(204, 94%, 94%);
  --sky-200: hsl(201, 94%, 86%);
  --sky-300: hsl(199, 95%, 74%);
  --sky-400: hsl(198, 93%, 60%);
  --sky-500: hsl(199, 89%, 48%);
  --sky-600: hsl(200, 98%, 39%);
  --sky-700: hsl(201, 96%, 32%);
  --sky-800: hsl(201, 90%, 27%);
  --sky-900: hsl(202, 80%, 24%);
  
  --blue-50: hsl(214, 100%, 97%);
  --blue-100: hsl(214, 95%, 93%);
  --blue-200: hsl(213, 97%, 87%);
  --blue-300: hsl(212, 96%, 78%);
  --blue-400: hsl(213, 94%, 68%);
  --blue-500: hsl(217, 91%, 60%);
  --blue-600: hsl(221, 83%, 53%);
  --blue-700: hsl(224, 76%, 48%);
  --blue-800: hsl(226, 71%, 40%);
  --blue-900: hsl(224, 64%, 33%);
  
  --indigo-50: hsl(226, 100%, 97%);
  --indigo-100: hsl(226, 100%, 94%);
  --indigo-200: hsl(228, 96%, 89%);
  --indigo-300: hsl(230, 94%, 82%);
  --indigo-400: hsl(234, 89%, 74%);
  --indigo-500: hsl(239, 84%, 67%);
  --indigo-600: hsl(243, 75%, 59%);
  --indigo-700: hsl(245, 58%, 51%);
  --indigo-800: hsl(244, 55%, 41%);
  --indigo-900: hsl(242, 47%, 34%);
  
  --violet-50: hsl(250, 100%, 98%);
  --violet-100: hsl(251, 91%, 95%);
  --violet-200: hsl(251, 95%, 92%);
  --violet-300: hsl(253, 95%, 85%);
  --violet-400: hsl(255, 92%, 76%);
  --violet-500: hsl(258, 90%, 66%);
  --violet-600: hsl(262, 83%, 58%);
  --violet-700: hsl(263, 70%, 50%);
  --violet-800: hsl(263, 69%, 42%);
  --violet-900: hsl(264, 67%, 35%);
  
  --purple-50: hsl(270, 100%, 98%);
  --purple-100: hsl(269, 100%, 95%);
  --purple-200: hsl(269, 100%, 92%);
  --purple-300: hsl(269, 97%, 85%);
  --purple-400: hsl(270, 95%, 75%);
  --purple-500: hsl(271, 91%, 65%);
  --purple-600: hsl(271, 81%, 56%);
  --purple-700: hsl(272, 72%, 47%);
  --purple-800: hsl(273, 67%, 39%);
  --purple-900: hsl(274, 66%, 32%);
  
  --fuchsia-50: hsl(289, 100%, 98%);
  --fuchsia-100: hsl(287, 100%, 95%);
  --fuchsia-200: hsl(288, 96%, 91%);
  --fuchsia-300: hsl(291, 93%, 83%);
  --fuchsia-400: hsl(292, 91%, 73%);
  --fuchsia-500: hsl(292, 84%, 61%);
  --fuchsia-600: hsl(293, 69%, 49%);
  --fuchsia-700: hsl(295, 72%, 40%);
  --fuchsia-800: hsl(295, 70%, 33%);
  --fuchsia-900: hsl(297, 64%, 28%);
  
  --pink-50: hsl(327, 73%, 97%);
  --pink-100: hsl(326, 78%, 95%);
  --pink-200: hsl(326, 85%, 90%);
  --pink-300: hsl(327, 87%, 82%);
  --pink-400: hsl(329, 86%, 70%);
  --pink-500: hsl(330, 81%, 60%);
  --pink-600: hsl(333, 71%, 51%);
  --pink-700: hsl(335, 78%, 42%);
  --pink-800: hsl(336, 74%, 35%);
  --pink-900: hsl(336, 69%, 30%);
  
  --rose-50: hsl(356, 100%, 97%);
  --rose-100: hsl(356, 100%, 95%);
  --rose-200: hsl(353, 96%, 90%);
  --rose-300: hsl(353, 96%, 82%);
  --rose-400: hsl(351, 95%, 71%);
  --rose-500: hsl(350, 89%, 60%);
  --rose-600: hsl(347, 77%, 50%);
  --rose-700: hsl(345, 83%, 41%);
  --rose-800: hsl(343, 80%, 35%);
  --rose-900: hsl(342, 75%, 30%);
}