@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

/* font face */

@font-face {
  font-family: 'Recoleta';
  src: url('../fonts/Recoleta-400-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-400-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-500-Medium.otf') format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-600-Semibold.otf') format('opentype');
  font-style: normal;
  font-weight: 600;
}

:root {
  --font-stack-header: 'Recoleta', 'Work Sans', 'Georgia', serif;
  --font-stack-body: 'Graphik', 'Inter', 'Helvetica', 'Arial', sans-serif;
  --font-stack-code: 'Menlo', 'Monaco', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', 'Inconsolata', 'Roboto Mono', monospace;
}

h1 {
  font-family: var(--font-stack-header);
  color: var(--sky-900);
  font-size: 26px;
  line-height: 1;
  margin: 0;
}

h2 {
  font-family: var(--font-stack-body);
  color: var(--sky-900);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 16px;
}

h3 {
  font-family: var(--font-stack-header);
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 16px;
}

p {
  font-family: var(--font-stack-body);
  color: var(--coolGray-800);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 16px;
}

a, a:visited {
  font-family: inherit;
  color: inherit;
  text-decoration: underline;
  transition: 0.2s;
}

a:hover {
  color: inherit;
}

