:root {
  --gray-50: #F9FAFB;
  --gray-100: #F3F4F6;
  --gray-200: #E5E7EB;
  --gray-300: #D1D5DB;
  --gray-400: #9CA3AF;
  --gray-500: #6B7280;
  --gray-600: #4B5563;
  --gray-700: #374151;
  --gray-800: #1F2937;
  --gray-900: #111827;

  --yellow-50: #FEFCE8;
  --yellow-100: #FEF9C3;
  --yellow-200: #FEF08A;
  --yellow-300: #FDE047;
  --yellow-400: #FACC15;
  --yellow-500: #EAB308;
  --yellow-600: #CA8A04;
  --yellow-700: #A16207;
  --yellow-800: #854D0E;
  --yellow-900: #713F12;

  --lime-50: #F7FEE7;
  --lime-100: #ECFCCB;
  --lime-200: #D9F99D;
  --lime-300: #BEF264;
  --lime-400: #A3E635;
  --lime-500: #84CC16;
  --lime-600: #65A30D;
  --lime-700: #4D7C0F;
  --lime-800: #3F6212;
  --lime-900: #365314;

  --teal-50: #F0FDFA;
  --teal-100: #CCFBF1;
  --teal-200: #99F6E4;
  --teal-300: #5EEAD4;
  --teal-400: #2DD4BF;
  --teal-500: #14B8A6;
  --teal-600: #0D9488;
  --teal-700: #0F766E;
  --teal-800: #115E59;
  --teal-900: #134E4A;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  font-size: 100%;
  font-family: 'Inter', sans-serif;
}

.game {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 32px;
  /* display: flex;
  flex-direction: row; */
}

.sidebar {
  background: lightgoldenrodyellow;
  height: 100%;
  width: 100%;
  min-width: 600px;
  justify-self: center;
  padding: 32px 32px;
}

.view {
  background: lightgoldenrodyellow;
  height: 100%;
  width: 100%;
  min-width: 600px;
  justify-self: center;
  padding: 32px 32px;
}

.sidebar-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

.logo {
  line-height: 1;
  margin: 0;
}

.level-picker {
  height: 32px;
  width: 240px;
  border-radius: 4px;
  background: lightgreen;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrow {
  width: 32px;
  height: 32px;
  background:lightgrey;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrow.left {
  border-radius: 4px 0 0 4px;
}

.arrow.right {
  border-radius: 0 4px 4px 0;
}

.arrow:hover {
  background: gray;
}

.chevron {
  width: 20px;
  height: 20px;
}

.chevron-down {
  width: 16px;
  height: 16px;
}

.level-label {
  width: 176px;
  height: 32px;
  font-size: 14px;
  background: lightsteelblue;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.label-level {
  
}

.label-current {

}

.label-of {

}

.label-total {

}

.sidebar-instructions {
  width: 100%;
  margin-top: 32px;
}

.footer {
  width: 100%;
  height: 24px;
  margin-top: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editor {
  width: 100%;
  height: 400px;
  margin-top: 16px;
  background: lightseagreen;
}
